.playGround_wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  border: 1px solid black;
}

.blockItem {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
}

.blockmold_wrapper {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.blockmold_unit {
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #999
}

.blockmold_unit.filled {
  background: red;
}
.gameboard {
  width: 200px;
  height: 4000px;
}
.boardMask {
  position: absolute;
  width: 200px;
  height: 100px;
  background: #fff;
}