.playGround_wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  border: 1px solid red
}

.blockItem {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
}

.blockmold_wrapper {
  width: 80px;
  height: 80px;
}
.blockmold_unit {
  float: left;
  width: 20px;
  height: 20px;
}

.blockmold_unit.filled {
  background: red;
}